<template>
    <div class="content">
        <div class="row">
            <div class="col-lg-12 col-xl-12">
                <div class="block-rounded block">
                    <div class="block-content">
                        <div class="row">
                            <div class="col-lg-6 mb-3">
                                <label class="form-label fs-sm text-muted">Description</label>
                                <input
                                    class="form-control"
                                    type="text"
                                    v-model="form.description"
                                />
                                <div
                                    v-if="form.errors.description"
                                    class="invalid-feedback animated fadeIn"
                                    style="display:block"
                                >
                                    {{ form.errors.description[0] }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 mb-3">
                                <label class="form-label fs-sm text-muted">Price</label>
                                <input
                                    class="form-control"
                                    type="email"
                                    v-model="form.price"
                                />
                                <div
                                    v-if="form.errors.price"
                                    class="invalid-feedback animated fadeIn"
                                    style="display:block"
                                >
                                    {{ form.errors.price[0] }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 mb-4">
                                <label class="form-label fs-sm text-muted" for="category-select">Category</label>
                                <select
                                    class="form-select"
                                    name="category-select"
                                    v-model="form.category_ids"
                                    :size="category_options.length"
                                    multiple
                                >
                                    <option v-for="category in category_options" :value="category.id" :key="category.id">
                                        {{ category.name }}
                                    </option>
                                </select>
                                <div
                                    v-if="form.errors.category_ids"
                                    class="invalid-feedback animated fadeIn"
                                    style="display:block"
                                >
                                    {{ form.errors.category_ids[0] }}
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="mb-4">
                                <label class="form-label">Images</label
                                >
                                <input
                                    class="form-control"
                                    type="file"
                                    multiple
                                    :accept="'.jpg, .jpeg, .png '"
                                    @change="uploadImage"
                                    ref="upload_ref"
                                />
                                <div
                                    v-if="form.errors.images"
                                    class="invalid-feedback animated fadeIn"
                                    style="display:block"
                                >
                                    {{ form.errors.images[0] }}
                                </div>
                            </div>


                            <div class="space-y-2">
                                <div v-for="(image, i) in form.images" :key="i" class="form-check">
                                    <input class="form-check-input" type="checkbox" id="main_image" name="main_image" v-model="image.main">
                                    <div class="me-5 ms-2 overlay-container overlay-left">
                                        <img :src="image.path ? ( storage + '/' + image.path) : image.blob" :alt="image.name" style="width: 100px; height: 100px">
                                        <div class="btn-group">
                                            <button
                                                type="button"
                                                class="btn btn-sm btn-alt-danger"
                                                @click="deleteImage(i)"
                                            >
                                                <i class="fa fa-fw fa-times"></i>
                                            </button>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <br><br>


                        <div class="row">
                            <div class="mb-4">
                                <button
                                    type="button"
                                    class="btn btn-sm btn-outline-secondary me-1 mb-1"
                                    @click="submit"
                                >
                                    <i class="fa fa-floppy-disk me-1"></i> Save
                                </button>
                                <button
                                    type="button"
                                    class="btn btn-sm btn-outline-secondary me-1 mb-1"
                                    @click="cancel"
                                >
                                    <i class="fa fa-backward me-1"></i> Cancel
                                </button>
                            </div>
                        </div>

                        <br><br>


                        <div class="row" v-for="( comment, i ) in comments" :key="i">

                            <div  class="col-lg-9 mb-3">
                                <label class="form-label fs-sm text-muted">Comment:</label>
                                <input
                                    class="form-control"
                                    type="text"
                                    v-model="comment.text"
                                />
                                <div
                                    v-if="comment.errors.text"
                                    class="invalid-feedback animated fadeIn"
                                    style="display:block"
                                >
                                    {{ comment.errors.text[0] }}
                                </div>
                            </div>

                            <div  class="col-lg-3 mb-3">
                                <label class="form-label fs-sm text-muted">Grade:</label>
                                <input
                                    class="form-control"
                                    type="text"
                                    v-model="comment.grade"
                                />
                                <div
                                    v-if="comment.errors.grade"
                                    class="invalid-feedback animated fadeIn"
                                    style="display:block"
                                >
                                    {{ comment.errors.grade[0] }}
                                </div>
                            </div>

                             <div class="col-lg-4">
                                 <button
                                     type="button"
                                     class="btn btn-sm btn-outline-secondary me-1 mb-1"
                                     @click="saveComment(comment)"
                                 >
                                     <i class="fa fa-floppy-disk me-1"></i> Save
                                 </button>
                                 <button
                                     type="button"
                                     class="btn btn-sm btn-outline-danger me-1 mb-1"
                                     @click="deleteComment(comment, i)"
                                 >
                                     <i class="fa fa-times me-1"></i> Delete
                                 </button>
                             </div>
                            <hr>

                        </div>


                        <div v-if="form.id" class="row">
                            <div  class="col-lg-9 mb-3">
                                <label class="form-label fs-sm text-muted">New comment:</label>
                                <input
                                    class="form-control"
                                    type="text"
                                    v-model="comment_form.text"
                                />
                                <div
                                    v-if="comment_form.errors.text"
                                    class="invalid-feedback animated fadeIn"
                                    style="display:block"
                                >
                                    {{ comment_form.errors.text[0] }}
                                </div>
                            </div>

                            <div  class="col-lg-3 mb-3">
                                <label class="form-label fs-sm text-muted">Grade:</label>
                                <input
                                    class="form-control"
                                    type="text"
                                    v-model="comment_form.grade"
                                />
                                <div
                                    v-if="comment_form.errors.grade"
                                    class="invalid-feedback animated fadeIn"
                                    style="display:block"
                                >
                                    {{ comment_form.errors.grade[0] }}
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <button
                                    type="button"
                                    class="btn btn-sm btn-outline-secondary me-1 mb-1"
                                    @click="saveComment(comment_form)"
                                >
                                    <i class="fa fa-floppy-disk me-1"></i> Save
                                </button>
                            </div>
                            <hr>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script setup>
import {useRoute, useRouter} from "vue-router";
import {useToast} from "vue-toastification";
import {reactive, ref} from "vue";
import axios from "axios";

const router = useRouter()
const route = useRoute()
const toast = useToast()

const storage = ref(import.meta.env.VITE_STORAGE_URL)

const form = reactive({
    _method: route.params.id ? 'PUT' : 'POST',
    id: route.params.id || null,
    description: '',
    price: '',
    images: [],
    category_ids: [],
    errors: {}
})

const comments = ref([])

const responseToForm = ( response ) => {
    form.id = response.data.id ? response.data.id.toString() : ''
    form.description = response.data.description
    form.price = response.data.price
    response.data.categories.forEach( category => {
        form.category_ids.push( category.id )
    } )
    response.data.images.map( image => { image.main = !! image.main } )
    form.images = response.data.images
    response.data.comments.forEach( comment => {
        comments.value.push({
            id: comment.id,
            article_id: comment.article_id,
            text: comment.text,
            grade: comment.grade,
            errors: {}
        })
    })
}

const fetchData = async () => {
    await axios.get( import.meta.env.VITE_API_URL + '/article/' + form.id )
        .then( response => {
            responseToForm( response )
        } )
        .catch( error => {
            if( error.response.status === 403 )
                toast.error( 'Permission denied!' )
            else
                toast.error( 'Something went wrong!')
        } )
}
if( form.id )
    fetchData()


const category_options = ref([])
axios.get( import.meta.env.VITE_API_URL + "/category" )
    .then( (response) => {
        category_options.value = response.data
    } )
    .catch( error => {
        if( error.response.status === 403 )
            toast.error( 'Permission denied!' )
        else
            toast.error( 'Something went wrong!' )
    } )


const submit = () => {
    form.errors = {}
    axios({
        method: form.id ? 'PUT' : 'POST',
        url: import.meta.env.VITE_API_URL + "/article" + ( form.id ? '/' + form.id : '' ) ,
        data: form,
    })
        .then( response => {
            if( form.id ){
                responseToForm(response)
            }
            else {
                responseToForm(response)
                router.push( { name: 'article-edit', params:{ id: response.data.id } } )
            }
            toast.success('Successfully saved!')
        } )
        .catch( error => {
            form.errors = error.response.data.errors
            if( error.response.status === 403 )
                toast.error( 'Permission denied!' )
            else
                toast.error( 'Check the input fields!' )
        })
};


const cancel = () => {
    router.push( { name: 'articles' } )
}


const upload_ref = ref(null)

const getBase64 = ( file ) => {
    return new Promise( (resolve, reject ) => {
        const reader = new FileReader()
        reader.readAsDataURL( file );
        reader.onload = () => resolve( reader.result )
        reader.onerror = error => reject( error )
    } )
}

const uploadImage = () => {
    Object.keys( upload_ref.value.files ).forEach( function( index ) {
        const file = upload_ref.value.files[index]
        getBase64( file ).then( blob => {
            form.images.push(
                {
                    name: file.name,
                    extension: file.name.split('.').pop(),
                    blob,
                    path: '',
                    main: 0
                }
            )
        } )
    } )
}

const deleteImage = ( index ) => {
    form.images.splice(index,1)
}


const comment_form = reactive({
    article_id: route.params.id ,
    text: '',
    grade: '',
    errors: {}
})



const saveComment = ( comment ) => {
    axios({
        method: comment.id ? 'PUT' : 'POST',
        url: import.meta.env.VITE_API_URL + "/comment" + ( comment.id ? '/' + comment.id : '' ) ,
        data: comment,
    })
        .then( response => {
            if( !comment.id ){
                comments.value.push({
                    id: response.data.id,
                    article_id: response.data.article_id,
                    text: response.data.text,
                    grade: response.data.grade,
                    errors: {}
                })
                comment.text = ''
                comment.grade = ''
                comment.errors = {}
            }
            toast.success('Successfully saved!')
        } )
        .catch( error => {
            comment.errors = error.response.data.errors
            if( error.response.status === 403 )
                toast.error( 'Permission denied!' )
            else
                toast.error( 'Check the input fields!' )
        })
}


const deleteComment = ( comment, i ) => {
    axios.delete( import.meta.env.VITE_API_URL + "/comment/" + comment.id )
        .then( response => {
            if( response.data ){
                toast.success( 'Entry has been deleted!' )
                comments.value.splice( i , 1 )
            } else {
                toast.error( 'Something went wrong!' )
            }
        } )
        .catch( ( error ) => {
            if( error.response.status === 403 )
                toast.error( 'Permission denied!' )
            else
                toast.error( 'Check the input fields!' )
        })
}


</script>
