<script>
import BaseNavigation from "@/components/BaseNavigation.vue";
import {ref} from "vue";


export default {

    components:{
        BaseNavigation,
    },

    setup(){

        const navigation = ref([
            {
                name: 'Articles',
                icon: 'far fa-file-lines',
                to: 'articles',
            },
            {
                name: 'Categories',
                icon: 'fa fa-object-ungroup',
                to: 'categories',
            },
            {
                name: 'Users',
                icon: 'fa fa-users-gear',
                to: 'users',
            },
        ])

        return {
            navigation
        }
    }
}




</script>

<template>
    <!-- Sidebar -->

    <nav
        id="sidebar"
        aria-label="Main Navigation"
    >
        <slot>
            <!-- Side Header -->
            <div class="content-header">
                <slot name="header">
                    <RouterLink :to="{ name: 'articles' }" class="fw-semibold text-dual">
            <!-- <span class="smini-visible">
              <i class="fa fa-circle-notch text-primary"></i>
            </span> -->
                    </RouterLink>
                </slot>
            </div>
            <!-- END Side Header -->

            <!-- Sidebar Scrolling -->
            <div id="simplebar-sidebar" class="js-sidebar-scroll">
                <slot name="content">
                    <!-- Side Navigation -->
                    <div class="content-side">
                        <BaseNavigation :nodes="navigation" />
                    </div>
                    <!-- END Side Navigation -->
                </slot>
            </div>
            <!-- END Sidebar Scrolling -->
        </slot>
    </nav>
    <!-- END Sidebar -->
</template>
