<template>

    <div class="content">
        <div class="row">
            <div class="col-md-12">

                <BaseBlock title="Categories">

                    <router-link to="/category/create" class="btn btn-dark text-muted"><i class="fa fa-floppy-disk"></i> New category</router-link>

                    <br>
                    <br>

                    <div class="table-responsive">

                        <table class="table table-bordered table-striped table-vcenter">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Parent</th>
                                <th>Superparent</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="category in categories" :key="category.id">
                                <td class="">
                                    {{ category.name }}
                                </td>
                                <td class="">
                                    {{ category.parents ? category.parents.name : '' }}
                                </td>
                                <td class="">
                                    {{ category.parents && category.parents.parents ? category.parents.parents.name : '' }}
                                </td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <button
                                            type="button"
                                            class="btn btn-sm btn-alt-danger"
                                            @click="deleteItem(category.id)"
                                        >
                                            <i class="fa fa-fw fa-times"></i>
                                        </button>
                                    </div>
                                    <div class="btn-group" style="margin-left: 5px">
                                        <button
                                            type="button"
                                            class="btn btn-sm btn-alt-success"
                                            @click="editItem( category.id )"
                                        >
                                            <i class="fa fa-fw fa-pen"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </BaseBlock>
            </div>
        </div>
    </div>
</template>

<script setup>

import { ref } from "vue";


import Swal from "sweetalert2";
import axios from "axios";

import { useToast } from "vue-toastification";
import router from "@/router";

const toast = useToast();


const url = ref(import.meta.env.VITE_API_URL + "/category");

const categories = ref([]);


const getData = () => {
    axios.get( url.value )
        .then( (response) => {
            categories.value = response.data
        } )
        .catch( error => {
            if( error.response.status === 403 )
                toast.error( 'Permission denied!' )
            else
                toast.error( 'Something went wrong!' )
        } )
}
getData()




let alert = Swal.mixin({
    buttonsStyling: false,
    target: "#page-container",
    customClass: {
        confirmButton: "btn btn-success m-1",
        cancelButton: "btn btn-danger m-1",
        input: "form-control",
    },
});

const deleteItem = ( id )=>{
    alert
        .fire({
            title: "Are you sure?",
            text: "You will not be able to recover this entry!",
            icon: "warning",
            showCancelButton: true,
            customClass: {
                confirmButton: "btn btn-danger m-1",
                cancelButton: "btn btn-secondary m-1",
            },
            confirmButtonText: "Yes, delete it!",
            html: false,
            preConfirm: () => {
                return new Promise((resolve) => {
                    setTimeout(() => {
                        resolve();
                    }, 50);
                });
            },
        })
        .then((result) => {
            if( result.value ){
                axios.delete( import.meta.env.VITE_API_URL + "/category/" + id )
                    .then( response => {
                        if( response.data ){
                            toast.success( 'Entry has been deleted!' )
                            getData()
                        } else {
                            toast.error( 'Something went wrong!' )
                        }
                    } )
                    .catch( ( error ) => {
                        if( error.response.status === 403 )
                            toast.error( 'Permission denied!' )
                        else
                            toast.error( 'Check the input fields!' )
                    })
            }
        });
}


const editItem = ( id ) => {
    router.push( { name: 'category-edit', params:{ id } } )
}


</script>
