<template>
    <div class="content">
        <div class="row">
            <div class="col-lg-12 col-xl-6">
                <div class="block-rounded block">
                    <div class="block-content">
                        <div class="row">
                            <div class="col-lg-12 mb-3">
                                <label class="form-label fs-sm text-muted">Name</label>
                                <input
                                    class="form-control"
                                    type="text"
                                    v-model="form.name"
                                />
                                <div
                                    v-if="form.errors.name"
                                    class="invalid-feedback animated fadeIn"
                                    style="display:block"
                                >
                                    {{ form.errors.name[0] }}
                                </div>
                            </div>



                            <div class="mb-4">
                                <label class="form-label fs-sm text-muted" for="parent-select">Parent</label>
                                <select
                                    class="form-select"
                                    name="parent-select"
                                    v-model="form.parent_id"
                                >
                                    <option v-for="parent in parent_options" :value="parent.id" :key="parent.id">
                                        {{ parent.name }}
                                    </option>
                                </select>
                                <div
                                    v-if="form.errors.parent_id"
                                    class="invalid-feedback animated fadeIn"
                                    style="display:block"
                                >
                                    {{ form.errors.parent_id[0] }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="mb-4">
                                    <button
                                        type="button"
                                        class="btn btn-sm btn-outline-secondary me-1 mb-1"
                                        @click="submit"
                                    >
                                        <i class="fa fa-floppy-disk me-1"></i> Save
                                    </button>
                                    <button
                                        type="button"
                                        class="btn btn-sm btn-outline-secondary me-1 mb-1"
                                        @click="cancel"
                                    >
                                        <i class="fa fa-backward me-1"></i> Cancel
                                    </button>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script setup>
import {useRoute, useRouter} from "vue-router";
import {useToast} from "vue-toastification";
import {reactive, ref} from "vue";
import axios from "axios";

const router = useRouter()
const route = useRoute()
const toast = useToast()

const form = reactive({
    _method: route.params.id ? 'PUT' : 'POST',
    id: route.params.id || null,
    name: '',
    parent_id: '',
    errors: {}
})

const responseToForm = ( response ) => {
    form.id = response.data.id ? response.data.id.toString() : ''
    form.name = response.data.name
    form.parent_id = response.data.parent_id
}

const fetchData = async () => {
    await axios.get( import.meta.env.VITE_API_URL + '/category/' + form.id )
        .then( response => {
            responseToForm( response )
        } )
        .catch( error => {
            if( error.response.status === 403 )
                toast.error( 'Permission denied!' )
            else
                toast.error( 'Something went wrong!')
        } )
}
if( form.id )
    fetchData()

const parent_options = ref([])
axios.get( import.meta.env.VITE_API_URL + "/category" )
    .then( (response) => {
        parent_options.value = response.data
    } )
    .catch( error => {
        if( error.response.status === 403 )
            toast.error( 'Permission denied!' )
        else
            toast.error( 'Something went wrong!' )
    } )

const submit = () => {
    form.errors = {}
    axios({
        method: form.id ? 'PUT' : 'POST',
        url: import.meta.env.VITE_API_URL + "/category" + ( form.id ? '/' + form.id : '' ) ,
        data: form,
    })
        .then( response => {
            if( form.id ){
                responseToForm(response)
            }
            else {
                responseToForm(response)
                router.push( { name: 'category-edit', params:{ id: response.data.id } } )
            }
            toast.success('Successfully saved!')
        } )
        .catch( error => {
            form.errors = error.response.data.errors
            if( error.response.status === 403 )
                toast.error( 'Permission denied!' )
            else
                toast.error( 'Check the input fields!' )
        })
};

const cancel = () => {
    router.push( { name: 'categories' } )
}

</script>
