<template>
    <div class="content">
        <div class="row">
            <div class="col-lg-12 col-xl-6">
                <div class="block-rounded block">
                    <div class="block-content">
                        <div class="row">
                            <div class="col-lg-12 mb-3">
                                <label class="form-label fs-sm text-muted">Name</label>
                                <input
                                    class="form-control"
                                    type="text"
                                    v-model="form.name"
                                />
                                <div
                                    v-if="form.errors.name"
                                    class="invalid-feedback animated fadeIn"
                                    style="display:block"
                                >
                                    {{ form.errors.name[0] }}
                                </div>
                            </div>
                            <div class="col-lg-12 mb-3">
                                <label class="form-label fs-sm text-muted">Email</label>
                                <input
                                    class="form-control"
                                    type="email"
                                    v-model="form.email"
                                />
                                <div
                                    v-if="form.errors.email"
                                    class="invalid-feedback animated fadeIn"
                                    style="display:block"
                                >
                                    {{ form.errors.email[0] }}
                                </div>
                            </div>
                            <div class="col-lg-12 mb-3">
                                <label class="form-label fs-sm text-muted">Password</label>
                                <input
                                    class="form-control"
                                    type="password"
                                    v-model="form.password"
                                />
                                <div
                                    v-if="form.errors.password"
                                    class="invalid-feedback animated fadeIn"
                                    style="display:block"
                                >
                                    {{ form.errors.password[0] }}
                                </div>
                            </div>
                            <div class="col-lg-12 mb-3">
                                <label class="form-label fs-sm text-muted">Password confirm</label>
                                <input
                                    class="form-control"
                                    type="password"
                                    v-model="form.password_confirm"
                                />
                                <div
                                    v-if="form.errors.password_confirm"
                                    class="invalid-feedback animated fadeIn"
                                    style="display:block"
                                >
                                    {{ form.errors.password_confirm[0] }}
                                </div>
                            </div>

                            <div class="mb-4">
                                <label class="form-label fs-sm text-muted" for="user-select">Role</label>
                                <select
                                    class="form-select"
                                    name="user-select"
                                    v-model="form.role"
                                >
                                    <option v-for="role in role_options" :value="role.key" :key="role.key">
                                        {{ role.value }}
                                    </option>
                                </select>
                            </div>

                            <div class="row">
                                <div class="mb-4">
                                    <button
                                        type="button"
                                        class="btn btn-sm btn-outline-secondary me-1 mb-1"
                                        @click="submit"
                                    >
                                        <i class="fa fa-floppy-disk me-1"></i> Save
                                    </button>
                                    <button
                                        type="button"
                                        class="btn btn-sm btn-outline-secondary me-1 mb-1"
                                        @click="cancel"
                                    >
                                        <i class="fa fa-backward me-1"></i> Cancel
                                    </button>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script setup>
import {useRoute, useRouter} from "vue-router";
import {useToast} from "vue-toastification";
import {reactive, ref} from "vue";
import axios from "axios";

const router = useRouter()
const route = useRoute()
const toast = useToast()

const form = reactive({
    _method: route.params.id ? 'PUT' : 'POST',
    id: route.params.id || null,
    name: '',
    email: '',
    password: '',
    password_confirm: '',
    role: '',
    errors: {}
})

const responseToForm = ( response ) => {
    form.id = response.data.id ? response.data.id.toString() : ''
    form.name = response.data.name
    form.email = response.data.email
    form.role = response.data.role
}

const fetchData = async () => {
    await axios.get( import.meta.env.VITE_API_URL + '/user/' + form.id )
        .then( response => {
            responseToForm( response )
        } )
        .catch( error => {
            if( error.response.status === 403 )
                toast.error( 'Permission denied!' )
            else
                toast.error( 'Something went wrong!')
        } )
}
if( form.id )
    fetchData()

const role_options = ref([
    {
        key: 'admin',
        value: 'admin'
    },
    {
        key: 'moderator',
        value: 'moderator'
    }
])

const submit = () => {
    form.errors = {}
    axios({
        method: form.id ? 'PUT' : 'POST',
        url: import.meta.env.VITE_API_URL + "/user" + ( form.id ? '/' + form.id : '' ) ,
        data: form,
    })
        .then( response => {
            if( form.id ){
                responseToForm(response)
            }
            else {
                responseToForm(response)
                router.push( { name: 'user-edit', params:{ id: response.data.id } } )
            }
            toast.success('Successfully saved!')
        } )
        .catch( error => {
            form.errors = error.response.data.errors
            if( error.response.status === 403 )
                toast.error( 'Permission denied!' )
            else
                toast.error( 'Check the input fields!' )
        })
};

const cancel = () => {
    router.push( { name: 'users' } )
}

</script>
