//
// Custom Main
//
// Add your own styles or override existing ones
//
// This file is included last, so you have access
// to all Bootstrap and OneUI functions/mixins/styles etc
// --------------------------------------------------

// If you have many custom styles, you can create and import additional files
// For example you can create _component1.scss and include it as follows:
// @import 'component1';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

.light-modal {
    display: none;
    position: fixed;
    background: transparent;
    top: 0;
    bottom: 0;
    left: 0;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    right: 0;
    z-index: 9999;
    transition: background 1s;
    visibility: visible; /* change from hidden to visible to show modal */
    background: rgba(0, 0, 0, 0.2);
    display: flex;
  }
  
  .light-modal-title {
    font-size: 22px;
    margin-bottom: 10px;
  }
  
  .light-modal-content {
    background: #fff;
    color: #444;
    width: 40vw;
    border-radius: 0.2em;
    position: relative;
    max-height: calc(100vh - 150px);
    line-height: 1.4;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .light-modal-content.large-content {
    width: 50vw;
  }
  
  .light-modal-content.lg {
    width: 50vw;
  }
  
  .light-modal-content.xl {
    width: 70vw;
  }
  
  .light-modal-content img {
    max-width: 100%;
    border-radius: 0.2em;
  }
  
  .light-modal-header {
    padding: 20px 20px 20px 20px;
    background: rgba(0, 0, 0, 0.2);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .light-modal-heading {
    margin: 0;
    font-size: 1.5em;
  }
  
  .light-modal-heading + .light-modal-close-icon {
    position: static;
  }
  
  .light-modal-body {
    padding: 15px;
    overflow: auto;
    /* max-height: 450px; */
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    height: 650px;
  }
  
  .light-modal-footer {
    padding: 20px 20px 20px 20px;
    background: rgba(0, 0, 0, 0.2);
    text-align: right;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .light-modal-close-icon,
  .light-modal-close-btn {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 0.2em;
    background: #ff6f6f;
    font-size: 1.5em;
    line-height: 1;
    transition: background 0.2s ease-in-out;
  }
  
  .light-modal-close-icon:hover,
  .light-modal-close-btn:hover {
    background: #ff0000;
    color: #fff;
  }
  
  .light-modal-close-icon {
    position: absolute;
    top: -15px;
    right: -15px;
  }
  
  .light-modal-close-btn {
    font-size: 1em;
  }
  
  .light-modal-caption {
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 100%;
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 0.2em;
    width: 100%;
    text-align: center;
    margin-top: 5px;
  }
  
  .light-modal:target {
    background: rgba(0, 0, 0, 0.2);
    display: -ms-flexbox;
    display: flex;
    visibility: visible;
  }
  
  .light-modal-navigation .navigation-next,
  .light-modal-navigation .navigation-prev {
    width: 32px;
    height: 32px;
    border-color: #fff;
    transition: border-color 0.2s;
  }
  
  .light-modal-navigation .navigation-next:hover,
  .light-modal-navigation .navigation-prev:hover {
    border-color: rgba(255, 255, 255, 0.7);
  }
  
  .light-modal-navigation .navigation-next {
    position: absolute;
    right: -50px;
    top: 50%;
    border-bottom: 1px solid;
    border-left: 1px solid;
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  
  .light-modal-navigation .navigation-prev {
    position: absolute;
    left: -50px;
    top: 50%;
    border-bottom: 1px solid;
    border-left: 1px solid;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  @media (max-width: 480px) {
    .light-modal-navigation .navigation-next {
      right: 5px;
    }
    .light-modal-navigation .navigation-prev {
      left: 5px;
    }
  }
  
  @keyframes basic {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .basic {
    animation-name: basic;
  }
  
  @media (max-width: 767px) {
    .light-modal {
      font-size: 14px;
    }
    .light-modal:target .light-modal-content {
      width: 90vw;
    }
  }
  
  @supports (display: flex) {
    @media (max-width: 767px) {
      .light-modal:target .light-modal-content {
        width: 90vw;
      }
    }
  }
  
  @-webkit-keyframes bounceIn {
    0%,
    20%,
    40%,
    60%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
    20% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1);
      transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
      -webkit-transform: scale3d(0.9, 0.9, 0.9);
      transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
      opacity: 1;
      -webkit-transform: scale3d(1.03, 1.03, 1.03);
      transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
      -webkit-transform: scale3d(0.97, 0.97, 0.97);
      transform: scale3d(0.97, 0.97, 0.97);
    }
    to {
      opacity: 1;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
  @keyframes bounceIn {
    0%,
    20%,
    40%,
    60%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
    20% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1);
      transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
      -webkit-transform: scale3d(0.9, 0.9, 0.9);
      transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
      opacity: 1;
      -webkit-transform: scale3d(1.03, 1.03, 1.03);
      transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
      -webkit-transform: scale3d(0.97, 0.97, 0.97);
      transform: scale3d(0.97, 0.97, 0.97);
    }
    to {
      opacity: 1;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
  
  .modal-enter-active .light-modal-content {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
  }
  .modal-leave-active {
    transition: 0.2s;
    opacity: 0;
  }
  
  .media {
    display: flex;
    align-items: flex-start;
  }
  
  .content-search {
    width: 250px;
    display: flex;
    align-items: center;
  }
  .content-search .form-control {
    padding: 0;
    border-width: 0;
    background-color: transparent;
  }
  .content-search .form-control input:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
  .content-search .form-control input:active {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
  
  @media (max-width: 991.98px) {
    .app-filemgr.filemgr-sidebar-show .filemgr-sidebar {
      left: 0;
      opacity: 1;
      visibility: visible;
    }
    .app-filemgr.filemgr-sidebar-show .filemgr-content {
      transform: translateX(240px);
    }
  }
  
  .filemgr-wrapper {
    /* position: fixed; */
    top: 55px;
    bottom: 0;
    left: 0;
    right: 0;
  }
  @media (min-width: 992px) {
    .filemgr-wrapper {
      top: 60px;
    }
  }
  
  @media (min-width: 992px) {
    .filemgr-wrapper-two {
      position: relative;
      height: 100%;
      top: auto;
    }
  }
  
  .filemgr-sidebar {
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -240px;
    width: 240px;
    border-right: 1px solid rgba(72, 94, 144, 0.16);
    opacity: 0;
    /* visibility: hidden; */
    transition: all 0.3s;
  }
  @media (prefers-reduced-motion: reduce) {
    .filemgr-sidebar {
      transition: none;
    }
  }
  @media (min-width: 992px) {
    .filemgr-sidebar {
      left: 0;
      opacity: 1;
      /* visibility: visible; */
    }
  }
  
  .filemgr-sidebar-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    border-bottom: 1px solid rgba(72, 94, 144, 0.16);
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  .filemgr-sidebar-header button {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Inter UI", Roboto, sans-serif;
    letter-spacing: 0.5px;
  }
  .filemgr-sidebar-header button.btn-white {
    font-weight: 700;
  }
  .filemgr-sidebar-header button + button {
    margin-left: 10px;
  }
  .filemgr-sidebar-header button svg {
    width: 12px;
    height: 12px;
    stroke-width: 2.5px;
    margin-top: -1px;
  }
  
  .filemgr-sidebar-body {
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .filemgr-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s;
  }
  @media (prefers-reduced-motion: reduce) {
    .filemgr-content {
      transition: none;
    }
  }
  @media (min-width: 992px) {
    .filemgr-content {
      left: 240px;
    }
  }
  
  .filemgr-content-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    border-bottom: 1px solid rgba(72, 94, 144, 0.16);
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  .filemgr-content-header .feather-search {
    color: #8392a5;
    align-self: center;
    width: 18px;
    stroke-width: 2.8px;
    margin-right: 10px;
    margin-top: -2px;
  }
  .filemgr-content-header .search-form {
    display: flex;
    align-items: center;
  }
  .filemgr-content-header .search-form .form-control {
    border-width: 0;
    background-color: transparent;
    font-size: inherit;
    padding: 0;
    color: #1b2e4b;
  }
  .filemgr-content-header .nav-link {
    padding: 0;
  }
  .filemgr-content-header .nav-link + .nav-link {
    margin-left: 10px;
  }
  .filemgr-content-header .nav-link svg {
    width: 20px;
    height: 20px;
    stroke-width: 2.2px;
  }
  .filemgr-content-header .nav-link svg.feather-settings {
    width: 18px;
    height: 18px;
  }
  
  .filemgr-content-body {
    background-color: #f8f9fc;
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    bottom: 0;
  }
  @media (min-width: 1200px) {
    .filemgr-content-body > div:first-child {
      max-width: 1140px;
    }
  }
  
  .dropdown-file {
    position: absolute;
    background-color: #fff;
    padding-left: 1px;
    padding-bottom: 2px;
    top: 8px;
    right: 8px;
  }
  .dropdown-file .dropdown-link {
    color: rgba(131, 146, 165, 0.5);
  }
  .dropdown-file .dropdown-link:hover,
  .dropdown-file .dropdown-link:focus {
    color: #1b2e4b;
  }
  .dropdown-file .dropdown-link i {
    width: 20px;
    height: 16px;
    padding-left: 10px;
  }
  .dropdown-file .dropdown-item {
    font-size: 12px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
  }
  .dropdown-file .dropdown-item i {
    width: 14px;
    height: 14px;
    stroke-width: 2.5px;
    margin-right: 10px;
    color: #8392a5;
  }
  
  .card-file {
    padding: 10px;
    position: relative;
    border-color: rgba(72, 94, 144, 0.16);
    transition: all 0.2s ease-in-out;
  }
  @media (prefers-reduced-motion: reduce) {
    .card-file {
      transition: none;
    }
  }
  .card-file:hover,
  .card-file:focus {
    border-color: #c0ccda;
  }
  .card-file .card-body {
    padding: 15px 0 0;
  }
  .card-file .card-footer {
    font-size: 11px;
    color: #c0ccda;
    padding: 10px 0 0;
    border-top-width: 0;
    background-color: transparent;
  }
  .card-file h6 {
    margin-bottom: 0;
  }
  .card-file h6 a {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    width: 100%;
  }
  .card-file p {
    margin-bottom: 0;
    color: #475362;
  }
  .card-file span {
    font-size: 12px;
    color: #8392a5;
  }
  
  .card-file-thumb {
    background-color: #f5f6fa;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
  }
  @media (min-width: 576px) {
    .card-file-thumb {
      height: 100px;
      font-size: 40px;
    }
  }
  @media (min-width: 992px) {
    .card-file-thumb {
      height: 93px;
      font-size: 48px;
    }
  }
  @media (min-width: 1920px) {
    .card-file-thumb {
      height: 140px;
      font-size: 48px;
    }
  }
  
  .media-folder {
    position: relative;
    border: 1px solid rgba(72, 94, 144, 0.16);
    padding: 10px 12px;
    background-color: #fff;
    border-radius: 0.25rem;
    transition: all 0.2s ease-in-out;
  }
  @media (prefers-reduced-motion: reduce) {
    .media-folder {
      transition: none;
    }
  }
  .media-folder:hover,
  .media-folder:focus {
    border-color: #c0ccda;
  }
  .media-folder > svg {
    width: 42px;
    height: 42px;
    stroke-width: 1.5px;
    color: #0168fa;
    opacity: 0.7;
  }
  .media-folder .media-body {
    margin-left: 10px;
  }
  .media-folder .media-body h6 {
    margin-bottom: 1px;
  }
  .media-folder .media-body span {
    font-size: 12px;
    color: #8392a5;
    display: block;
  }
  
  @media (min-width: 992px) {
    .aside-filemgr + .content {
      margin-left: 60px;
    }
  }
  
  .filemgr-image-thumb {
    width: 230px;
    max-height: 140px;
  }
  
  .filemgr-search-container {
    padding: 0 15px;
  }
  .filemgr-search-box {
    color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
  }
  .filemgr-search-box .form-control {
    color: #666 !important;
  }
  
  @media (max-width: 991px) {
    .filemgr-search-box {
      background: none;
    }
  }
  .filemgr-nav-link-ml10 {
    margin-left: 10px;
  }
  .nav-sidebar {
    flex-direction: column;
  }
  .nav-sidebar .nav-link.active {
    font-weight: 500;
    color: #0168fa;
    background-color: #eef0f7;
  }
  .nav-link {
    padding: 5px;
  }
  .wd-100p {
    width: 100%;
  }
  .dropdown-file.left {
    position: absolute;
    background-color: #fff;
    padding-left: 1px;
    padding-bottom: 2px;
    top: 8px;
    left: 8px;
    width: 24px;
    height: 23px;
  }
  .form-check-input-mm {
    position: absolute;
    margin-top: 0.3rem;
    margin-left: 5px;
  }
  .theme-flat hr {
    border-top-color: #000;
  }
  textarea.form-control {
    font-size: 14px;
  }
  .form-control {
    font-size: 0.8rem;
  }
  .thumbnail-preview {
    max-width: 335px;
  }
  .hr-splitter {
    background-color: "000";
  }
  .form-check-label {
    font-size: 14px;
  }
  .cursor_pointer {
    cursor: pointer;
  }
  .hover_link{
    color:#334155 !important;
  }
  .hover_link:hover,.hover_link:active{
    color:#0891b2 !important;
  }
  .vs__dropdown-toggle {
    padding: 2px 4px 6px !important;
  }
  .vs__selected {
    background: #ebeef2 !important;
    border-color: #ebeef2 !important;
  }
  .vs__clear, .vs__deselect {
    fill: #dc2626 !important;
  }  
  .vs__deselect {
    margin-left: 6px !important;
  }
  body { 
    background-color: #ebeef2;
  }