<template>
    <!-- Page Content -->
    <div class="hero-static d-flex align-items-center">
        <div class="content">
            <div class="row justify-content-center push">
                <div class="col-md-8 col-lg-6 col-xl-4">
                    <!-- Sign In Block -->
                    <BaseBlock title="Sign In" class="mb-0">

                        <div class="p-sm-3 px-lg-4 px-xxl-5 py-lg-5">
                            <h1 class="h2 mb-1">CMS</h1>

                            {{ errors }}

                            <!-- Sign In Helpers -->
                            <form @submit.prevent="onSubmit">
                                <div class="py-3">
                                    <div class="mb-4">
                                        <input
                                            class="form-control"
                                            type="email"
                                            placeholder="Email"
                                            v-model="form.email"
                                        />
                                        <div
                                            v-if="form.errors.email"
                                            class="invalid-feedback animated fadeIn"
                                            style="display:block"
                                        >
                                            {{ form.errors.email[0] }}
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <input
                                            class="form-control"
                                            type="password"
                                            placeholder="Password"
                                            v-model="form.password"
                                        />
                                        <div
                                            v-if="form.errors.password"
                                            class="invalid-feedback animated fadeIn"
                                            style="display:block"
                                        >
                                            {{ form.errors.password[0] }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-md-6 col-xl-5">
                                        <button type="submit" class="btn w-100 btn-alt-primary">
                                            <i class="fa fa-fw fa-sign-in-alt me-1 opacity-50"></i>
                                            Sign In
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <!-- END Sign In Helpers -->
                        </div>
                    </BaseBlock>
                    <!-- END Sign In Block -->
                </div>
            </div>
            <div class="fs-sm text-muted text-center">
                <strong>{{ store.app.name + " " + store.app.version }}</strong> &copy;
                {{ store.app.copyright }}
            </div>
        </div>
    </div>
    <!-- END Page Content -->
</template>

<script setup >
import { reactive } from "vue";
import { useRouter } from "vue-router";

import { useTemplateStore } from "@/stores/template";
import { useAuthStore } from "@/stores/auth";

import { watch } from "vue";

const store = useTemplateStore();
const userStore = useAuthStore();
const router = useRouter();

const form = reactive({
    username: null,
    password: null,
    errors:{}
});

async function onSubmit() {
    form.errors = {}
    console.log( form )
    await userStore.login( form )
    if( userStore.authData.access_token && userStore.authData.access_token.length ){
        router.push({ name: "articles" });
    }
}

watch( () => userStore.errors, ( errors ) => {
    form.errors = errors
})



</script>

<style scoped>

</style>
